.form {
  flex: 0.4;
  display: flex;
  flex-direction: column;
}

.form h2 {
  font-size: 2rem;
  margin: 15px 0;
}

.form label {
  opacity: 0;
}

.form input {
  padding: 10px;
  border: 2px solid black;
  outline: none;
}

.form input::placeholder {
  color: black;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

.error {
  height: 15px;
  color: red;
  font-size: 14px;
  padding-left: 10px;
}

.seccuss {
  width: 200px;
  text-align: center;
  margin-right: 20px;
  color: green;
}
