.score-headline {
  display: flex;
  margin: 15px 0;
}

.score-headline h2 {
  flex: 1;
  font-size: 2rem;
}

.score-list {
  list-style-type: none;
  border: 2px solid black;
  min-height: 200px;
}

.score-list li {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
}

.even {
  background-color: whitesmoke;
}

.odd {
  background-color: lightblue;
}

.loading {
  margin: 40px auto;
  border-top: 3px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: loading 0.5s infinite;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
